@import "../../styles/variables.scss";

.messages {
  margin-bottom: 80px;
}

.roomList {
  display: flex;
  max-width: 1024px;
  flex-wrap: wrap;
  gap: 32px;
  margin: 32px 0;
}

.create {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1);
  stroke: $grey-600;
}

.plus {
  width: 96px;
  height: 96px;
  color: $grey-600;
}

.title {
  display: flex;
  column-gap: 16px;
  h2 {
    margin: 0;
  }
}

.add {
  stroke: $text-400;
  width: 40px;
  height: 40px;
  transform: translateY(4px);
  cursor: pointer;
  transition: all 0.2s ease;
}

.add:hover {
  transform: translateY(4px) scale(1.1);
  transition: all 0.2s ease;
}
