$header-height: 80px;
$navbar-width: 320px;

$text-400: #393e46;

$accent-300: hsl(181, 60%, 45%);
$accent-400: #33c9cc;
$accent-500: hsl(181, 50%, 55%);
$accent-700: hsl(174, 50%, 75%);
$accent-800: hsl(175, 50%, 85%);
$accent-900: hsl(172, 50%, 95%);

$green-400: hsl(120, 45%, 60%);
$green-600: hsl(120, 40%, 85%);
$green-800: hsl(120, 50%, 95%);

$blue-400: hsl(205, 100%, 70%);
$blue-600: hsl(205, 100%, 80%);
$blue-700: hsl(205, 100%, 90%);
$blue-800: hsl(205, 100%, 95%);

$grey-400: #eff2f5;
$grey-600: #dfe4ec;

$red-300: hsl(0, 80%, 65%);
$red-400: hsl(0, 100%, 75%);
$red-500: hsl(0, 100%, 80%);
$red-600: hsl(0, 100%, 85%);
$red-800: hsl(0, 100%, 97%);

$yellow-400: #ffc858;
$yellow-500: hsl(40, 100%, 75%);
$yellow-600: hsl(40, 100%, 80%);
$yellow-700: hsl(40, 100%, 85%);
$yellow-800: hsl(42, 100%, 95%);
